@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* CSS variables */
:root {
	--black: #202426;
	--grey: #8697a2;
	--dark-grey: hsla(210, 8.6%, 24%, 0.8);
	--darker-grey: hsla(210, 8.6%, 3.7%, 0.8);
	--light-grey: #e2e6e9;
	--lighter-grey: #f5f5f5;
	--white: #ffffff;
	--purple: hsl(244, 44%, 49%);
	--teal: hsl(176, 44%, 45%);

	--border-radius: 24px;

	--shadow-1: 0 1px 3px hsla(210, 0%, 0%, 0.12),
		0 1px 2px hsla(210, 0%, 0%, 0.24);
	--shadow-2: 0 3px 6px hsla(210, 0%, 0%, 0.15),
		0 2px 4px hsla(210, 0%, 0%, 0.12);
	--shadow-3: 0 10px 20px hsla(210, 0%, 0%, 0.15),
		0 3px 6px hsla(210, 0%, 0%, 0.1);
	--shadow-4: 0 15px 25px hsla(210, 0%, 0%, 0.15),
		0 5px 10px hsla(210, 0%, 0%, 0.5);
	--shadow-5: 0 20px 40px hsla(210, 0%, 0%, 0.2);
	--button-shadow: inset 0 1px 0 hsl(244, 44%, 59%),
		0 1px 3px hsla(0, 0%, 0%, 0.2);

	--font: Nunito;
	--font-body: Open Sans;

	/* CALENDAR VARS */
	--calendar-bg-color: #ffffff;
	--calendar-font-color: var(--dark-grey);
	--weekdays-border-bottom-color: #404040;
	--calendar-date-hover-color: #505050;
	--calendar-current-date-color: white;
	--calendar-today-color: linear-gradient(
		to bottom,
		hsl(176, 35%, 53%),
		hsl(176, 26%, 57%)
	);
	--calendar-today-innerborder-color: transparent;
	--calendar-nextprev-bg-color: transparent;
	--next-prev-arrow-color: #fff;
	--calendar-border-radius: 16px;
	--calendar-prevnext-date-color: var(--light-grey);
}

* {
	margin: 0 auto; /* sets initial margin to 0 */
}

body {
	padding: 16px;
	font-family: var(--font);
	background-color: var(--light-grey);
}

/* NAVBAR */
#navbar {
	max-width: 100%;
	display: flex;
	align-items: center;
	margin: 12px 40px 0px 40px;
}

#spacer {
	visibility: hidden;
	flex-grow: 1;
}

#account-nav {
	width: fit-content;
}

.logo {
	color: var(--purple);
	width: fit-content;
}
/*  */

/* NEW ITINERARY FORM */
.modal {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: hsla(0, 0%, 100%, 0.5);
}

.modal-window {
	background-color: var(--white);
	margin: 128px auto;
	padding: 24px;
	padding-top: 0px;
	border-radius: var(--border-radius);
	width: fit-content;
	box-shadow: var(--shadow-5);
}

.form-header {
	padding-top: 24px;
	display: flex;
}

.spacer {
	flex: 1;
}

.close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 32px;
	height: 32px;
	border-radius: 8px;
}

.close-btn:hover {
	cursor: pointer;
	background-color: var(--light-grey);
}

.form-content {
	display: flex;
	width: 500px;
	flex-direction: column;
}

.input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.input-group > input {
	font: inherit;
	margin-bottom: 16px;
	border: 2px solid var(--light-grey);
	border-radius: 8px;
	padding: 8px 8px;
	font-size: 16px;
}

.input-group > textarea {
	font: inherit;
	margin-bottom: 16px;
	border: 2px solid var(--light-grey);
	border-radius: 8px;
	padding: 8px 8px;
	font-size: 16px;
}

#form-description {
	width: 100%;
}

.date-group {
	display: flex;
}

.form-content > textarea {
	border: 1px solid var(--light-grey);
	border-radius: 4px;
	padding: 8px 8px;
	font-size: 16px;
}

.submit-btn {
	background-color: var(--purple);
	color: var(--white);
	border: none;
	border-radius: 8px;
	width: 50%;
	margin: 0 auto;
	margin-top: 24px;
	display: block;
	font-size: 16px;
	padding: 16px;
	box-shadow: var(--button-shadow);
}

.submit-btn:hover {
	background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
	cursor: pointer;
}

.submit-btn:active {
	box-shadow: none;
}

/* END OF NEW ITINERARY FORM */

/* MAIN APP SECTION */
.app {
	padding-top: 64px; /*probably adjust this later*/
	display: flex;
	justify-content: center;
}

/* ITINERARY LIST SIDEBAR */

.itinerary-list-container {
	font-weight: light;
	/* flex: 1; */
	display: flex;
	height: fit-content;
	/* max-height: 100%; */
	padding-bottom: 24px;
	background-color: var(--white);
	border-radius: var(--border-radius);
	width: 256px;
	margin-left: 256px;
	box-shadow: var(--shadow-5);
}

#itinerary-list-display {
	color: var(--black);
	text-align: left;
	/* min-width: 320px; */
	width: 100%;
	padding: 20px 20px 20px 32px;
	/* border-radius: var(--border-radius); */
	/* background-color: blue; */
}

#itinerary-list-title {
	font-weight: 600;
	font-size: 32px;
}

#itinerary-list {
	margin-top: 16px;
	list-style-type: none;
	padding: 0;
}

#itinerary-list > li {
	margin-top: 8px;
	/*margin-bottom: 18px;*/
	flex-wrap: nowrap;
}

.itinerary-list-item {
	padding: 0;
	outline: none;
	border: none;
	background-color: inherit;
	color: inherit;
	/* width: fit-content; */
	font-size: inherit;
}

.itinerary-list-item:hover {
	cursor: pointer;
	color: var(--dark-grey);
}

.itinerary-list-btns {
	margin: 0;
	padding: 0;
	width: fit-content;
}

.edit-btn {
	display: none;
	padding: 0;
	border: none;
	background-color: inherit;
}

.edit-btn > svg {
	color: var(--grey);
	height: 16px;
	width: 16px;
	vertical-align: bottom;
}

.edit-btn > svg:hover {
	color: var(--black);
	cursor: pointer;
}

.delete-btn {
	display: none;
	padding: 0;
	border: none;
	background-color: inherit;
}

.delete-btn > svg {
	color: var(--grey);
	height: 16px;
	width: 16px;
	vertical-align: bottom;
}

.delete-btn > svg:hover {
	color: var(--black);
	cursor: pointer;
}

.itinerary-list-btns:hover > .edit-btn {
	display: inline-block;
}

.itinerary-list-btns:hover > .delete-btn {
	display: inline-block;
}

#new-itinerary-btn {
	margin-top: 8px;
	border: none;
	background-color: var(--gray);
	color: var(--grey);
}

#new-itinerary-btn:hover {
	color: var(--black);
	cursor: pointer;
}
/* END OF ITINERARY LIST SIDEBAR */

/* ITINERARY DISPLAY */
.itinerary-display-wrapper {
	display: flex;
	flex: 2;
	justify-content: center;
	/*height: 100%;*/
}

.itinerary-display {
	background-color: var(--white);
	color: var(--black);
	border-radius: var(--border-radius);
	/*width: 75vw;*/
	max-width: 45rem;
	padding: 24px 24px;
	/*margin-right: 24%;*/
	display: flex;
	text-align: left;
	justify-content: space-between;
	box-shadow: var(--shadow-5);
	/*margin: 0;*/
}

.itinerary-display-item::marker {
	color: var(--grey);
}

.event-date {
	font-weight: 600;
	font-size: 1.25rem;
}

.event-activity-count {
	margin: 0px 12px;
	border-bottom: 1px solid var(--light-grey);
	width: 90%;
	color: var(--grey);
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 12px;
}

.event-details-wrapper {
	flex: 1;
	width: 50vw;
}

.event-details-wrapper > p:nth-child(-n + 2) {
	margin: 24px 12px;
}

.event-description {
	max-width: 30em;
	line-height: 1.5em;
	font-size: 16px;
}

.event-title {
	font-weight: 700;
	font-size: 48px;
	letter-spacing: -1px;
}

/* .calendar > p {
	background-color: var(--grey);
	border-radius: 24px 24px 0px 0px;
	color: var(--white);
	width: 100%;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
} */
/* END OF ITINERARY DISPLAY */

#app-spacer {
	flex: 1;
}

/* MEDIA QUERIES */
@media (width <= 70rem) {
	#navbar {
		flex-direction: column;
	}

	.app {
		flex-direction: column;
		align-items: center;
	}

	.itinerary-display {
		flex-direction: column;
		/*text-align: center;*/
		margin: 24px 24px;
		padding-left: 50px;
		padding-right: 50px;
		/*width: 75%;*/
	}

	.calendar {
		margin: 100px 0 -80px 0;
		width: 100%;
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: var(--grey);
	text-align: center;
	font-size: 0.9em;
	margin-bottom: 20px;
}

/* CALENDAR CSS */
.calendar-wrapper {
	/* position: relative; */
	max-width: 384px; /*change as per your design need */
	min-width: 384px;
	height: fit-content;
	background-color: var(--white);
	color: var(--calendar-font-color);
	/* margin: 20px auto; */
	/* box-sizing: border-box; */
	/* overflow: hidden; */
	/* font-weight: normal; */
	border-radius: var(--border-radius);
	/* max-width: 333px; */
	/* width: 28vw; */
	/* height: fit-content; */
	object-fit: cover;
	margin-right: -64px;
	margin-left: 32px;
	box-shadow: var(--shadow-5);
}

.calendar-wrapper header {
	display: flex;
	align-items: center;
	padding: 20px 32px 0px 32px;
	justify-content: space-between;
	/* margin: 0 20px; */
}
header .icons {
	display: flex;
}
header .icons span {
	height: 38px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	color: #878787;
	text-align: center;
	line-height: 38px;
	font-size: 1.9rem;
	user-select: none;
	border-radius: 50%;
}
.icons span:last-child {
	margin-right: -10px;
}
header .icons span:hover {
	background: #f2f2f2;
}
header .current-date {
	font-size: 1.5rem;
	font-weight: 500;
}
.calendar {
	padding: 20px;
}
.calendar ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding: 0;
}
.calendar .days {
	margin-bottom: 20px;
}
.calendar li {
	color: #333;
	width: calc(100% / 7);
	font-size: 1.07rem;
}
.calendar .weeks li {
	font-weight: 500;
	cursor: default;
}
.calendar .days li {
	z-index: 1;
	cursor: pointer;
	position: relative;
	margin-top: 30px;
}
.days li.inactive {
	color: #aaa;
}

.days li::before {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.days li.today::before {
	/* background: var(--purple); */
	border: 2px solid var(--teal);
	/* border-radius: 8px; */
}

.days li.highlight {
	color: var(--white);
}

.days li.highlight::before {
	background: var(--purple);
}

.days li.light-highlight {
}

.days li.light-highlight::before {
	background: hsla(244, 44%, 49%, 0.3);
}

.days li:not(.highlight):not(.light-highlight):not(.today):hover::before {
	background: #f2f2f2;
}

#location-search {
	width: 312px;
	margin-bottom: 0;
}

#map {
	margin-top: 20px;
	width: 100%;
	height: 300px;
	border-radius: var(--border-radius);
}

#search-suggestions {
	position: relative;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 312px;
	max-height: 200px;
	overflow-y: auto;
	background-color: white;
	border: 2px solid var(--light-grey);
	border-radius: 4px;
	border-top: none;
	display: none;
}

#search-suggestions .search-suggestion {
	padding: 4px;
	cursor: pointer;
}

#search-suggestions .search-suggestion:hover {
	background-color: #f4f4f4;
}
