:root {
	--black: #202426;
	--grey: #8697a2;
	--light-grey: #e2e6e9;
	--white: #ffffff;
}

* {
	margin: 0 auto;
}

body {
	padding: 16px;
	font-family: Inter;
	background-color: var(--light-grey);
}

.app {
	padding-top: 50px; /*probably adjust this later*/
	display: flex;
}

.event-title {
	font-weight: 500;
	font-size: 48px;
}

.itinerary-list > h2 {
	font-weight: 400;
}

.itinerary-list {
	text-align: center;
	color: var(--black);
	font-weight: light;
	padding: 12px 12px;
	width: 320px;
	/* background-color: var(--white); */
}

.itinerary-display {
	background-color: var(--white);
	color: var(--black);
	border-radius: 12px;
	flex-grow: 1;
	max-width: 976px;
	padding: 12px 12px;
	margin-right: 24%;
	display: flex;
	justify-content: space-between;
}

.event-details-wrapper {
	flex: 1;
}

.event-calendar {
	border-radius: 12px;
	width: 500px;
	height: 333px;
	border: 2px solid var(--light-grey);
	background-color: var(--white);
	margin: 4px;
	/* text-align: center; */
	display: flex;
	align-items: center;
	justify-content: center;
}
